

@mixin main($size, $lh) {
    font-family: "UniqloProBold", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: $size;
    line-height: $lh;
}

@mixin body($size, $lh) {
    font-family: "UniqloProRegular", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: $size;
    line-height: $lh;
}

