
.admin-content-container{
    width: 100%;
    .content-card-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

        .content-card{
            
            @include bp(sm){
                width: 25%;
            }
        }
    }
}
