
@import 'global/utils/_fonts';

//Fonts
@font-face {
	font-family: "UniqloProBold";
    // src: url("/assets/fonts/UniqloProBold.ttf");
    src: url("../assets/fonts/UniqloProBold.ttf")
}

@font-face {
	font-family: "UniqloProRegular";
	src: url("../assets/fonts/UniqloProRegular.ttf");
}

.display-container{
	background-color: #f6f6f6;
	padding: 15px;
}
